@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
// 500 - medium; 400 - reg; 600 - semibold

$text-color: #000;
$anti-text-color: #fff;
$text-color-add: #333;
$main-color: #cc0a0a;
$main-hover-color: #ff0000;
$comment-color: #888;
$nav-panel-color: #f2f2f2;
$hit-color: #ff9900;
$new-color: #0fa1c6;
$available-color: #3bb012;